
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var product in Model.Products)
        {
            @product.ProductName
            <h1>aaaaaaaa</h1>
            <br />
        }
    </div>
</body>
</html>
