@model TangerineCRM.WebUI.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<body>
    <div>
        @Html.DropDownListFor(x => x.ProductList, new SelectList(Model.ProductList, "ProductName"))
    </div>
</body>