@model TangerineCRM.WebUI.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<body>
    <div>
        @foreach(var product in Model.ProductModel)
        {
            @product.Store.StoreId
        }
    </div>
</body>