table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
}

table {
    
}

body, html {
    width:100%
}

th {
    height: 50px;
    text-align: center;
    background-color: #56baed;
    color: white;
    
}

 tr:nth-child(even) {
    background-color: #f2f2f2;
}

 tr:hover {
    background-color: #ddd;
}

.icon-delete {
    background-image: url('../Resources/delete icon.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    text-align:left;
    margin-left:10px;
    
}

.icon-update {
    background-image: url('../Resources/edit icon.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    text-align: right;
    margin-right:10px;
        
}
