table, th, td{
    border:1px solid black;
    padding:15px;
}

table {
    width:100%
}

th {
    height: 50px;
    text-align: center;
    background-color: #56baed;
    color: white;
    
}

 tr:nth-child(even) {
    background-color: #f2f2f2;
}

 tr:hover {
    background-color: #ddd;
}

.icon {
    background: url('../Resources/delete icon.png');
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    text-align:center
}