table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align:center
}

table {
    width:inherit;
}


th {
    height: 40px;
    text-align: center;
    background-color: #56baed;
    color: white;
}

 tr:nth-child(even) {
    background-color: #f2f2f2;
}

 tr:hover {
    background-color: #ddd;
}

.icon-delete {
    background-image: url('../Resources/delete icon.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    text-align:left;
    margin-left:10px;
    
}

.icon-update {
    background-image: url('../Resources/edit icon.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    text-align: right;
    margin-right:10px;   
}

.icon-add {
    background-image: url('../Resources/add icon.png');
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    text-align: right;
    margin-right: 10px;
}
