@model TangerineCRM.WebUI.Models.AppointmentViewModel
@using TangerineCRM.Core.Helpers.Enums;
@{
    ViewBag.Title = "UpdateResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Login")
@Styles.Render("~/Content/dropdown")
<h2>Ustaw rezultat</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("UpdateResult", "Appointment", FormMethod.Post, new { id ="form"}))
            {
                @Html.HiddenFor(x => x.SingleAppointment.AppointmentId)

                <div class="field">
                    <label>Rezultat</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedResult, Model.SelectListResult)
                    <br />
                </div>

                <input type="submit" id="btn" class="fadeIn fourth" value="Zmień">
            }
        </div>
    </div>
</body>



